<div class="p-5 pt-0">
    <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/elpais_logo_icon_171185.png" alt="Logo">
    <ul class="flex flex-col gap-2">
        <li routerLink="home" routerLinkActive="active" class="px-4 py-2 rounded-lg font-bold text-white">Home</li>
        <li routerLink="vista1" routerLinkActive="active" class="px-4 py-2 rounded-lg font-bold text-white">Vista 1</li>
        <li routerLink="vista2" routerLinkActive="active"class="px-4 py-2 rounded-lg font-bold text-white">Vista 2</li>
    </ul>
</div>
