/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --gris: #666766;
  --gris-letra: #767677;
  --celeste-light: #e3f4fe;
  --celeste: #009cff;
}
